<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="VkComApiTestSuite" verbose="2" parallel="tests" thread-count="1">
    <test name="vkComApi">
        <classes>
            <class name="testsForMailRu.TestsForMailRuCucumber"/>
            <class name="testForVkComApi.VkComApiTest"/>
        </classes>
    </test>
</suite>
